@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: rgb(94, 94, 94);
  z-index: 2;
  position: relative;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

nav a {
  transition: color 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0) inset;
}

nav a:hover {
  color: rgb(151, 151, 151);
  box-shadow: 0 -2px 0 0 rgb(151, 151, 151) inset;
}

nav a {
  text-decoration: none;
  color: rgb(94, 94, 94);
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title {
  color: rgb(94, 94, 94);
  z-index: 2;
  position: absolute;
  font-size: 2rem;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -75%);
}
